<h1>Built-In Pipes</h1>
<h2>{{name}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | slice: 2:4}}</h2>
<h2>{{name | slice: 2}}</h2>
<h2>{{person | json}}</h2>
<h2>{{6.789 | number : '1.2-3'}}</h2>
<h2>{{6.789 | number : '3.4-5'}}</h2>
<h2>{{6.789 | number : '3.1-2'}}</h2>
<h2>{{0.75 | percent}}</h2>
<h2>{{0.75 | currency}}</h2>
<h2>{{0.75 | currency: 'INR'}}</h2>
<h2>{{0.75 | currency: 'EUR'}}</h2>
<h2>{{0.75 | currency: 'INR': 'code'}}</h2>
<h2>{{date}}</h2>
<h2>{{date | date: 'short'}}</h2>
<h2>{{date | date: 'shortDate'}}</h2>
<h2>{{date | date: 'mediumDate'}}</h2>
<h2>{{date | date: 'shortTime'}}</h2>
<h2>{{date | date: 'mediumTime'}}</h2>
<h2>{{date | date: 'longTime'}}</h2>
