<h1>Welcome to RSK Helpline</h1>
<hr>
<!-- 1. as a custom element -->
<!-- <app-test></app-test> -->
<!-- 2. by using value as class property -->
<!-- <div class="app-test"></div> -->
<!-- 3. selector as property for any element -->
<!-- <div app-test></div> -->
<!-- <app-test></app-test> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property></app-property> -->
<!-- <app-c-binding></app-c-binding> -->
<!-- <app-s-binding></app-s-binding> -->
<!-- <app-e-binding></app-e-binding> -->
<!-- <app-if></app-if> -->
<!-- <app-switch></app-switch> -->
<!-- <app-for></app-for> -->
<!-- <app-child  (childMsg)="childData=$event"   [fromParent]="parentMsg"></app-child>
<h2>In Parent/app/root component: {{childData}}</h2> -->
<app-built-in-pipes></app-built-in-pipes>
